[run]
source = .
omit = 
    */tests/*
    */.pytest_cache/*
    */venv/*
    */virtualenv/*
    */.virtualenvs/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 