.DS_Store
notes.md 
*.db 
__pycache__/
.env
instance/
htmlcov/ 
.pytest_cache/
.coverage
*.pyc
*.pyo
*.pyd
.Python
.vscode/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/
